.home-header {
    background-color: #282c34;
    min-height: 100vh;
   background-image: url('../../img/img.jpg');
   background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
    line-height: 1.5;
}
.home-header h1{
font-size: 80px;
font-weight: 700;
}
@media screen and (max-width:576px) {
.home-header h1 {
        font-size: 35px;
        font-weight: 600;
    }
}