.card {
    color: #8f8f8f;
    /* width: 400px; */
    height:600px;
    background: linear-gradient(344deg, rgb(60, 60, 75) 0%, rgba(16, 16, 18, 1) 50%);
    box-shadow: 4px 6px 14px #00000036;
    border-radius: 1rem;
    border: #06b6d4 0.2rem solid;
    transition: all 0.4s ease-in;
}

.card:hover {
    transform: translateY(-1.5rem);
    border: #06b6d4 0.2em solid;
    border-radius: 2.5rem 0 2.5rem 0;
}

/* ========================== */
.input {
    background-color: #212121;
    max-width: 190px;
    height: 40px;
    padding: 10px;
    border: 2px solid #06b6d4;
    border-radius: 5px;
}
.message{
    height: 100px;
}
.input:focus {
    color: rgb(0, 255, 255);
    background-color: #212121;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
}

@media screen and (max-width:560px) {
    .card {
        width: 300px;
        /* margin: 0px auto; */
    }
}